__pycache__
TextServer/logs/*
!TextServer/logs/.gitkeep
markdownToolkit/source.txt
markdownToolkit/destination.txt
markdownToolkit/image/*
!markdownToolkit/image/.gitkeep
qidian/qidian_ticket/log/*
qidian/swipe/1.png